<section class="cards">
	<article>
		<img
			class="article-img"
			src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAARwAAACxCAMAAAAh3/JWAAAAA1BMVEXVAQA1I/tAAAAASElEQVR4nO3BMQEAAADCoPVPbQ0PoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIALA8UNAAFusnLHAAAAAElFTkSuQmCC"
			alt=" "
		/>
		<h4 class="article-title">EXCITEMENT, ENERGY, PASSION, COURAGE, ATTENTION</h4>
	</article>
	<article>
		<img
			class="article-img"
			src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAVAAAACWCAMAAAC/8CD2AAAAA1BMVEX/ZQOYYcdvAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAF8GxXYAARizDlgAAAAASUVORK5CYII="
			alt=" "
		/>
		<h4 class="article-title">OPTIMISTIC, INDEPENDENT, ADVENTUROUS, CREATIVITY, FUN</h4>
	</article>
	<article>
		<img
			class="article-img"
			src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzhR5-KEqSXLwOY4V-mzJkm6JGN2MbIKxL5Orcf0lXS9Yx98Tx"
			alt=" "
		/>
		<h4 class="article-title">
			ENTHUSIASM, OPPORTUNITY, SPONTANITY, HAPPINESS, POSITIVITY
		</h4>
	</article>
	<article>
		<img
			class="article-img"
			src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAA1BMVEX/bowGkoAVAAAASElEQVR4nO3BgQAAAADDoPlTX+AIVQEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADwDcaiAAFXD1ujAAAAAElFTkSuQmCC"
			alt=" "
		/>
		<h4 class="article-title">
			COMPASSION, LOVE, IMMATURE, PLAYFUL, ADMIRATION
		</h4>
	</article>
	<article>
		<img
			class="article-img"
			src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAT4AAACfCAMAAABX0UX9AAAAA1BMVEUFT41FWVNmAAAASElEQVR4nO3BMQEAAADCoPVPbQ0PoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABODcYhAAEl463hAAAAAElFTkSuQmCC"
			alt=" "
		/>
		<h4 class="article-title">
			TRUST, RESPONSIBILITY, HONESTY, LOYALITY, INNER SECURITY
		</h4>
	</article>
	<article>
		<img
			class="article-img"
			src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACWCAMAAABThUXgAAAAA1BMVEUAhUJ5XHFoAAAAQklEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMC7AbBeAAEQPda+AAAAAElFTkSuQmCC"
			alt=" "
		/>
		<h4 class="article-title">
			SAFETY, HARMONY, STABILITY, RELIABLILITY, BALANCE
		</h4>
	</article>
	<article>
		<img
			class="article-img"
			src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAQMAAADCCAMAAAB6zFdcAAAAJFBMVEWCTtKDTdN+UMqETM+FTc5+U8J/T8uCTsmBTteBT9eAT9KETtn5ZmuOAAAAzElEQVR4nO3W2w6CMAwA0NYr6v//r4BcFcUg+mDOydjoUta+EIg9sSGISGJL7KjehvbKwX13ZffONGH2wd2az89p5uzWnCjVlxyWzqaDdnm3ZPYnjIuP+qgfLUqnatTTOHi1+TyY3lyWMd/cCmfEmTgQRz7+v/gHl1JRjXpqg8tjsE7GxOZ8xpebu30mMgbrKJjcnM+I32Qsa+4+AwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgN+4ArgsOelpLUfdAAAAAElFTkSuQmCC"
			alt=" "
		/>
		<h4 class="article-title">
			IMAGINATION, SPIRITUALITY, COMPASSION, SENSIVITY, MYSTERY
		</h4>
	</article>
	<article>
		<img
			class="article-img"
			src="https://vignette.wikia.nocookie.net/phobia/images/0/06/Brown.png/revision/latest?cb=20161111012507"
			alt=" "
		/>
		<h4 class="article-title">
			RELIABILITY, STABILITY, HONESTY, COMFORT, NATURAL
		</h4>
	</article>
	<article>
		<img
			class="article-img"
			src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAASwAAACoCAMAAABt9SM9AAAAA1BMVEWAgICQdD0xAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO8GxYgAAb0jQ/cAAAAASUVORK5CYII="
			alt=" "
		/>
		<h4 class="article-title">
			NEUTRAL, PRACTICAL, CONSERVATIVE, FORMAL, QUITE
		</h4>
	</article>
	<article>
		<img
			class="article-img"
			src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAVAAAACWCAMAAAC/8CD2AAAAA1BMVEVJSkytzSGhAAAAR0lEQVR4nO3BAQEAAACCIP+vbkhAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAF8GxXYAARizDlgAAAAASUVORK5CYII="
			alt=" "
		/>
		<h4 class="article-title">
			POWER, CONTROL, AUTHORITY, DISCIPLINE, ELEGANCE
		</h4>
	</article>
	<article>
		<img
			class="article-img"
			src="https://res.cloudinary.com/teepublic/image/private/s--L6OfUmsF--/t_Resized%20Artwork/c_fit,g_north_west,h_954,w_954/co_ffffff,e_outline:48/co_ffffff,e_outline:inner_fill:48/co_ffffff,e_outline:48/co_ffffff,e_outline:inner_fill:48/co_bbbbbb,e_outline:3:1000/c_mpad,g_center,h_1260,w_1260/b_rgb:eeeeee/c_limit,f_jpg,h_630,q_90,w_630/v1541370083/production/designs/3443183_0.jpg"
			alt=" "
		/>
		<h2 class="article-title">
			Admiration (감탄)
		</h2>
	</article>
	<article>
		<img
			class="article-img"
			src="https://modo-phinf.pstatic.net/20160627_228/1467002740034jkPXc_JPEG/mosaASkiSh.jpeg?type=f540_540"
			alt=" "
		/>
		<h2 class="article-title">
			Adoration (동경)
		</h2>
	</article>
	<article>
		<img class="article-img" src="http://cfile201.uf.daum.net/image/232DE04653E48FB532390D" alt=" " />
		<h2 class="article-title">
			Aesthetic Appreciation (심미적 감상)
			<!--Aesthetic Appreciation. Aesthetics is the area of philosophy that studies the nature of beauty and art. Aesthetic appreciation, then, is the admiration of beauty, such as valuing the fine arts of music, literature, dance, and visual art.  -->
		</h2>
	</article>
	<article>
		<img class="article-img" src="https://t1.daumcdn.net/cfile/tistory/2361B73D55DB245F1E" alt=" " />
		<h2 class="article-title">
			Amusement (즐거움)
		</h2>
	</article>
	<article>
		<img
			class="article-img"
			src="https://images.agoramedia.com/everydayhealth/gcms/Coping-With-Anxiety-and-Depression-722x406.jpg?width=722"
			alt=" "
		/>
		<h2 class="article-title">
			Anxiety (걱정)
		</h2>
	</article>
	<article>
		<img class="article-img" src="https://t1.daumcdn.net/cfile/tistory/99FF333359C77FB91E" alt=" " />
		<h2 class="article-title">
			Awe (공포, 경외감)
		</h2>
	</article>
	<article>
		<img class="article-img" src="https://queer-voices.com/wp-content/uploads/2016/09/SocialPhobia.jpg" alt=" " />
		<h2 class="article-title">
			Awkwardness (어색함)
		</h2>
	</article>
	<article>
		<img
			class="article-img"
			src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTn0EyQhxkLuL1jSn1Gkn5gR3pqCdC2Pbt44rN_M1baZ5B1Tx_x"
			alt=" "
		/>
		<h2 class="article-title">
			Boredom (지루함)
		</h2>
	</article>
	<article>
		<img class="article-img" src="https://stmed.net/sites/default/files/yoga-wallpapers-31487-798704.jpg" alt=" " />
		<h2 class="article-title">
			Calmness (평온함)
		</h2>
	</article>
	<article>
		<img class="article-img" src="https://f4.bcbits.com/img/a0769518231_10.jpg" alt=" " />
		<h2 class="article-title">
			Confusion (혼동)
		</h2>
	</article>
	<article>
		<img class="article-img" src="https://pbs.twimg.com/media/CEvYELSUIAEB_LF.jpg" alt=" " />
		<h2 class="article-title">
			craving (갈망)
		</h2>
	</article>
	<article>
		<img
			class="article-img"
			src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRytBVNiEzhfJjNHsEUHRh_LkmbmhabVLxeTFEskFKjRt4LY3rV"
			alt=" "
		/>
		<h2 class="article-title">
			Disgust (싦음, 역겨움, 혐오)
		</h2>
	</article>
	<article>
		<img
			class="article-img"
			src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTZiZxBHOxj6IFEfbAUy3JAqT28NrEnOqMxQrNTPJ3l0XSdWc9mw"
			alt=" "
		/>
		<h2 class="article-title">
			Empathetic pain (감정 이입)
		</h2>
	</article>
	<article>
		<img
			class="article-img"
			src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1snq216fmsUHgsYk_yPkq8y6iiUPznF0kLiO-wgzd9mXXf9nvuA"
			alt=" "
		/>
		<h2 class="article-title">
			Entrancement (황홀, 무아지경)
		</h2>
	</article>
	<article>
		<img
			class="article-img"
			src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSREtDZqhS-MvpjJZLP_VSy2ZaRrdISf_qzl2kKOvVaAmlXHzL9"
			alt=" "
		/>
		<h2 class="article-title">
			Envy (부러움)
		</h2>
	</article>
	<article>
		<img
			class="article-img"
			src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdgfqQpTimH4tUIsj9Pd1BiOEd1PdhhkFc9y5hm09wD5sYfB_p"
			alt=" "
		/>
		<h2 class="article-title">
			Excitement (흥분)
		</h2>
	</article>
	<article>
		<img
			class="article-img"
			src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdehOUtrkAGvTp4hEF70w4ciH_IPjpRjdcZ6V58G58nn-oNI76"
			alt=" "
		/>
		<h2 class="article-title">
			Fear (두려움(공포))
		</h2>
	</article>
	<article>
		<img
			class="article-img"
			src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxJgmqx_7N6mzrLiTk8ogAZmqtO3qgDI3OA84yzRv9x1cPBTq7sw"
			alt=" "
		/>
		<h2 class="article-title">
			Horror (치가 떨리는 감정)
		</h2>
	</article>
	<article>
		<img
			class="article-img"
			src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTr-11dhMF8k73u6QWXt1J1KPw1Hj-7SrFdmGhpMx6ypS0toEncKg"
			alt=" "
		/>
		<h2 class="article-title">
			Interest (관심)
		</h2>
	</article>
	<article>
		<img
			class="article-img"
			src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRJzqZehjfklKBj_KxfdukzH6gPQJ11mEZp-5ihCmgE3JfJ5pyI"
			alt=" "
		/>
		<h2 class="article-title">
			Joy (즐거움)
		</h2>
	</article>
	<article>
		<img
			class="article-img"
			src="https://thatdidntquiteworkoutforme.files.wordpress.com/2016/02/nostalgia.jpg"
			alt=" "
		/>
		<h2 class="article-title">
			Nostalgia (향수)
		</h2>
	</article>
	<article>
		<img
			class="article-img"
			src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8qZoxWX6fpiJhx0dTn-hm2X2iddpDOzXyBoNYsbZtnzV8DrW02A"
			alt=" "
		/>
		<h2 class="article-title">
			Romance (로망)
		</h2>
	</article>
	<article>
		<img
			class="article-img"
			src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYRz60RpYvxFxaeykDpS8uhAVxnqexBhm0LQSJJHueOsL58gjhig"
			alt=" "
		/>
		<h2 class="article-title">
			Sad (슬픔)
		</h2>
	</article>
	<article>
		<img
			class="article-img"
			src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPLrZi_0Bj7ApkzWs5J4eM52bLOVO6JH6JxJfJUZ4BocGJw4ij"
			alt=" "
		/>
		<h2 class="article-title">
			Satisfaction (만족감)
		</h2>
	</article>
	<article>
		<img class="article-img" src="https://whywesuffer.com/wp-content/uploads/2011/10/WWS-SexAttract.jpg" alt=" " />
		<h2 class="article-title">
			Sexual Desire (성욕)
		</h2>
	</article>
	<article>
		<img
			class="article-img"
			src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTE0OHHFuNEvOZ6RFtovNlmhvYmr-Onpn0SdsBaJ4rKBM713vLWKQ"
			alt=" "
		/>
		<h2 class="article-title">
			Sympathy (동정)
		</h2>
	</article>
	<article>
		<img
			class="article-img"
			src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxuzsw81vw2wYm2HDuY89f1KBv1bCJFN4xWy0wAaBYIDKXyi4J"
			alt=" "
		/>
		<h2 class="article-title">
			Triumph (성취감, 승리감)
		</h2>
	</article>
</section>
